.chat-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .chat-window {
    padding: 10px;
    background-color: #fafafa;
    border-radius: 8px;
    height: 400px;
    overflow-y: scroll;
  }
  
  .message-box {
    margin-bottom: 10px;
    display: flex;
    align-items: flex-end;
  }
  
  .message-box.self {
    justify-content: flex-end;
  }
  
  .message-box.friend {
    justify-content: flex-start;
  }
  
  .message-content {
    max-width: 65%;
    background-color: #e1ffe1;
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    
  }

  .message-content p {
    margin: 0;
  }
  
  .message-box.friend .message-content {
    background-color: #ffffff;
  }
  
  .message-time {
    font-size: 12px;
    color: #888;
    margin-top: 5px;
  }
  
  .emoji-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .emoji-btn:hover {
    background-color: #f0f0f0;
  }
  